body {
  background: linear-gradient(to right, #e4e4e4, #ecf3f3)
}

.slick-slide>div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.cardSlick {
  margin: 25px 0 25px 0;
  border: 1px solid gray;
  background: linear-gradient(to right, #e4e4e4, #ecf3f3);
  background-color: rgb(255, 254, 254);
  border-radius: 20px;
  height: 500px;
  overflow: hidden;
  color: rgb(50, 49, 49);
  transition: all 0.3s ease;
}

.cardSlick:hover {
  transform: scale(1.05);
  border-width: 2px;
  border-radius: 21px;
}

.card-top h2 {
  font-size: 1.5rem;
  margin: 5px 20px;
}

.card-top>img {
  width: 100%;
  height: 300px;
  transition: all 0.3s ease;
  object-fit: cover;
}

.card-top>img:hover {

  height: 300px;
}

.card-bottom {
  padding: 10px 20px;
}

.card-bottom-buy {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.titles{
  margin-left: 3%;
  margin-top: 1%;
}